&lt;div class="numbered-steps step-content-boxed">
  &lt;div class="row step-row">
    &lt;div class="step-number">1&lt;/div>
    &lt;div class="step-content">
      &lt;div class="step-title">This is the title&lt;/div>
      &lt;div class="step-info">
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quo officia repellat dicta nulla ex perspiciatis vitae nam, odit. Iusto. &lt;a href="#">Here be a link.&lt;/a>&lt;/p>
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore fugiat odio, ratione expedita dolores. Quo amet optio minima repudiandae.&lt;/p>
      &lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;div class="row step-row">
    &lt;div class="step-number">2&lt;/div>
    &lt;div class="step-content">
      &lt;div class="step-title">This is the title&lt;/div>
      &lt;div class="step-info">
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quo officia repellat dicta nulla ex perspiciatis vitae nam, odit. Iusto. &lt;a href="#">Here be a link.&lt;/a>&lt;/p>
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore fugiat odio, ratione expedita dolores. Quo amet optio minima repudiandae.&lt;/p>
      &lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;div class="row step-row">
    &lt;div class="step-number step-number-last">3&lt;/div>
    &lt;div class="step-content">
      &lt;div class="step-title">&lt;a href="#">This title is a link&lt;/a>&lt;/div>
      &lt;div class="step-info">
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quo officia repellat dicta nulla ex perspiciatis vitae nam, odit. Iusto. &lt;a href="#">Here be a link.&lt;/a>&lt;/p>
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore fugiat odio, ratione expedita dolores. Quo amet optio minima repudiandae.&lt;/p>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div>
