<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <!--#include virtual="/assets/inc/DEV/inc_global_head.html" -->
  <title>Page Name | Site Name | CWRU</title>
  <link rel="manifest" href="/test/kxe67/template/manifest.json">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <!--#include virtual="/assets/mod/DEV/mod_og_page.html" -->
  <style type="text/css">
  .info-banner:before {
    content: 'DEV TESTING';
    position: absolute;
  }
  
  .info-banner {
    white-space: nowrap;
  }
  </style>
</head>
<!-- BEGIN BODY SECTION /////// -->

<body class="page-container-bg-solid page-boxed has-department has-sidebar has-breadcrumbs" id="landing-basic">
  <!--#include virtual="/assets/inc/DEV/inc_facebook_qa.html" -->
  <!--#include virtual="/assets/inc/DEV/inc_page_header_p1.html" -->
  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <div class="container">
      <div class="col-md-6">
        <!-- BEGIN SITE NAME MODULE /////// -->
        <a href="/test/kxe67/template/">
          <div class="page-title">
            <h2>Production Template</h2>
          </div>
        </a>
        <!-- END SITE NAME -->
      </div>
      <!--#include virtual="/assets/inc/DEV/inc_page_header_p2.html" -->
      <!-- BEGIN DEPARTMENT MODULE /////// -->
      <div class="container">
        <a href="/test/kxe67/template/">
          <div class="page-title dept-title">
            <h2>Landing 1 w/o Hero</h2>
          </div>
        </a>
      </div>
      <!-- END DEPARTMENT NAME -->
    </div>
    <!-- END PAGE HEAD-->
    <!--#include virtual="/assets/inc/DEV/inc_page_header_p3.html" -->
    <!-- BEGIN MAIN SECTION /////// -->
    <main>
      <!-- BEGIN CONTAINER -->
      <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
          <!-- BEGIN CONTENT BODY -->
          <!-- BEGIN PAGE CONTENT BODY -->
          <div class="page-content">
            <div class="container">
              <!--#include virtual="/assets/mod/DEV/mod_breadcrumbs.html" -->
              <!-- BEGIN PAGE CONTENT INNER -->
              <div class="page-content-inner" id="skip-to-content" tabindex="-1" role="main">
                <div class="row">
                  <div class="col-md-12">
                    <!-- BEGIN CONTENT COLUMN WRAPPER -->
                    <div class="row">
                      <!--#include virtual="/assets/mod/DEV/mod_sidebar.html" -->
                      <!-- BEGIN MAIN COLUMN CONTENT -->
                      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="container-inner">
                          <!--#include virtual="/assets/inc/DEV/inc_warnings.html" -->
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 body-column">
                              <section aria-label="replace this" class="user-content sub-text">
                                <h1>Newsletters</h1>
                                <h2>Stay in Touch with International Affairs</h2>
                                <p>The Center for International Affairs has several different newsletters designed to share the international achievements and events taking place at Case Western Reserve University. We encourage you to sign up for one or more of the newsletters to find out the latest happenings at the center.</p>
                                <h3>Think:International</h3>
                                <p>A monthly e-newsletter for our community and worldwide partners.</p>
                                <p><a href="http://case.us6.list-manage.com/subscribe?u=d4776879096f9725473aeb104&id=f148fd3e20" target="_blank" class="btn blue btn-lg btn-min">Subscribe now</a></p>
                                <p>View recent issues:</p>
                                <div id="rss-feed1" class="feed-container"></div>
                                <p><a target="_blank" href="http://us6.campaign-archive1.com/home/?u=d4776879096f9725473aeb104&id=f148fd3e20">View newsletter archives</a></p>
                                <hr>
                                <h3>Center Newsletter</h3>
                                <p>A bi-weekly e-newsletter for CWRU faculty and staff.</p>
                                <p><a href="mailto:jeb235@case.edu" class="btn blue btn-lg btn-min">Subscribe now</a></p>
                                <p>View recent issues:</p>
                                <div id="rss-feed2" class="feed-container"></div>
                                <p><a target="_blank" href="http://us6.campaign-archive2.com/home/?u=d4776879096f9725473aeb104&id=6f7b09020b">View newsletter archives</a></p>
                                <hr>
                                <h3>ISS News</h3>
                                <p>A weekly e-newsletter for CWRU international students.</p>
                                <p><a href="mailto:jeb235@case.edu" target="_blank" class="btn blue btn-lg btn-min">Subscribe now</a></p>
                                <p>View recent issues:</p>
                                <ul>
                                  <li><span><a target="_blank" href="http://students.case.edu/international/news/issue3006.newx">August 31, 2016</a></span></li>
                                  <li><span><a target="_blank" href="http://students.case.edu/international/news/issue3003.newx">August 24, 2016</a></span></li>
                                  <li><span><a target="_blank" href="http://students.case.edu/international/news/issue3002.newx">August 17, 2016</a></span></li>
                                </ul>
                                <p><a target="_blank" href="http://students.case.edu/international/news/issues.newx">View newsletter archives</a></p>
                                <hr>
                                <h3>Education Abroad Update</h3>
                                <p>A bi-weekly e-newsletter for students who have expressed interest in study abroad.</p>
                                <p><a href="http://case.us6.list-manage.com/subscribe?u=d4776879096f9725473aeb104&id=1f470dfef6" target="_blank" class="btn blue btn-lg btn-min">Subscribe now</a></p>
                                <p>View recent issues:</p>
                                <div id="rss-feed3" class="feed-container"></div>
                                <p><a target="_blank" href="http://us6.campaign-archive2.com/home/?u=d4776879096f9725473aeb104&id=1f470dfef6">View newsletter archives</a></p>
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END MAIN COLUMN CONTENT -->
                    </div>
                    <!-- END CONTENT COLUMN WRAPPER -->
                  </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
              </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
          </div>
          <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END CONTAINER -->
    </main>
    <!-- BEGIN FOOTER SECTION /////// -->
    <footer>
      <!--#include virtual="/assets/inc/DEV/inc_dept_footer.html" -->
      <div class="page-prefooter">
        <div class="container">
          <div class="row">
            <!--#include virtual="/assets/inc/DEV/inc_page_footer_c1.html" -->
            <!--#include virtual="/assets/inc/DEV/inc_page_footer_c2.html" -->
            <!--#include virtual="/assets/inc/DEV/inc_page_footer_c3.html" -->
            <!--#include virtual="/assets/inc/DEV/inc_page_footer_c4.html" -->
          </div>
        </div>
      </div>
      <div class="scroll-to-top">
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
                <i class="fa fa-arrow-up fa-stack-1x" aria-hidden="true"></i>
            </span>
      </div>
      <!-- BEGIN DEV BANNER -->
      <i class="info-banner" aria-hidden="true"></i>
      <!-- END DEV BANNER -->
    </footer>
    <!--#include virtual="/assets/inc/DEV/inc_global_footer.html" -->
    <script>
    jQuery(function($) {
      $("#rss-feed1").rss("http://us6.campaign-archive1.com/feed?u=d4776879096f9725473aeb104&id=f148fd3e20", {
        limit: 3,
        ssl: true
      })
      $("#rss-feed2").rss("http://us6.campaign-archive1.com/feed?u=d4776879096f9725473aeb104&id=6f7b09020b", {
        limit: 3,
        ssl: true
      })
      $("#rss-feed3").rss("http://us6.campaign-archive1.com/feed?u=d4776879096f9725473aeb104&id=1f470dfef6", {
        limit: 3,
        ssl: true
      })
    })
    </script>
</body>

</html>
