<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <!--#include virtual="/assets/inc/PROD/inc_global_head.html" -->
  <title>Page Name | Site Name | CWRU</title>
  <link rel="manifest" href="/path/to/manifest.json">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <!--#include virtual="/assets/mod/PROD/mod_og_page.html" -->
</head>
<!-- BEGIN BODY SECTION /////// -->

<body class="page-container-bg-solid page-boxed has-department has-sidebar has-breadcrumbs" id="subpage-three-column">
  <!--#include virtual="/assets/inc/PROD/inc_page_header_p1.html" -->
  <!-- BEGIN PAGE HEAD-->
  <div class="page-head">
    <div class="container">
      <div class="col-md-6">
        <!-- BEGIN SITE NAME MODULE /////// -->
        <a href="/test/kxe67/template/">
          <div class="page-title">
            <h2>Production Template</h2>
          </div>
        </a>
        <!-- END SITE NAME -->
      </div>
      <!--#include virtual="/assets/inc/PROD/inc_page_header_p2.html" -->
      <!-- BEGIN DEPARTMENT MODULE /////// -->
      <div class="container">
        <a href="/test/kxe67/template/">
          <div class="page-title dept-title">
            <h2>Three Column Subpage</h2>
          </div>
        </a>
      </div>
      <!-- END DEPARTMENT NAME -->
    </div>
    <!-- END PAGE HEAD-->
    <!--#include virtual="/assets/inc/PROD/inc_page_header_p3.html" -->
    <!-- BEGIN MAIN SECTION /////// -->
    <main>
      <!-- BEGIN CONTAINER -->
      <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
          <!-- BEGIN CONTENT BODY -->
          <!-- BEGIN PAGE CONTENT BODY -->
          <div class="page-content">
            <div class="container">
              <!--#include virtual="/assets/mod/PROD/mod_breadcrumbs.html" -->
              <!-- BEGIN PAGE CONTENT INNER -->
              <div class="page-content-inner" id="skip-to-content" tabindex="-1" role="main">
                <div class="row">
                  <div class="col-md-12">
                    <!-- BEGIN CONTENT COLUMN WRAPPER -->
                    <div class="row">
                      <!--#include virtual="/assets/mod/PROD/mod_sidebar.html" -->
                      <!-- BEGIN MAIN COLUMN CONTENT -->
                      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="container-inner">
                          <!--#include virtual="/assets/inc/PROD/inc_warnings.html" -->
                          <div class="row">
                            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 body-column">
                              <!--#include virtual="/assets/mod/PROD/mod_subpage_example.html" -->
                            </div>
                            <!--#include virtual="/assets/mod/PROD/mod_third_column.html" -->
                          </div>
                        </div>
                      </div>
                      <!-- END MAIN COLUMN CONTENT -->
                    </div>
                    <!-- END CONTENT COLUMN WRAPPER -->
                  </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
              </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
          </div>
          <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END CONTAINER -->
    </main>
    <!-- BEGIN FOOTER SECTION /////// -->
    <footer>
      <!--#include virtual="/assets/inc/PROD/inc_dept_footer.html" -->
      <div class="page-prefooter">
        <div class="container">
          <div class="row">
            <!--#include virtual="/assets/inc/PROD/inc_page_footer_c1.html" -->
            <!--#include virtual="/assets/inc/PROD/inc_page_footer_c2.html" -->
            <!--#include virtual="/assets/inc/PROD/inc_page_footer_c3.html" -->
            <!--#include virtual="/assets/inc/PROD/inc_page_footer_c4.html" -->
          </div>
        </div>
      </div>
      <div class="scroll-to-top">
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
                <i class="fa fa-arrow-up fa-stack-1x" aria-hidden="true"></i>
            </span>
      </div>
    </footer>
    <!--#include virtual="/assets/inc/PROD/inc_global_footer.html" -->
</body>

</html>
