<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <!-- BEGIN HEAD -->

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8" />
    <!-- BEGIN TOUCH CONFIG -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../assets/cwru/img/apple-touch-icon-57x57.png?v=2">
    <link rel="apple-touch-icon" sizes="60x60" href="../../assets/cwru/img/apple-touch-icon-60x60.png?v=2">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/cwru/img/apple-touch-icon-72x72.png?v=2">
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/cwru/img/apple-touch-icon-76x76.png?v=2">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/cwru/img/apple-touch-icon-114x114.png?v=2">
    <link rel="apple-touch-icon" sizes="120x120" href="../../assets/cwru/img/apple-touch-icon-120x120.png?v=2">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/cwru/img/apple-touch-icon-144x144.png?v=2">
    <link rel="apple-touch-icon" sizes="152x152" href="../../assets/cwru/img/apple-touch-icon-152x152.png?v=2">
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/cwru/img/apple-touch-icon-180x180.png?v=2">
    <link rel="icon" type="image/png" href="../../assets/cwru/img/favicon-32x32.png?v=2" sizes="32x32">
    <link rel="icon" type="image/png" href="../../assets/cwru/img/android-chrome-192x192.png?v=2" sizes="192x192">
    <link rel="icon" type="image/png" href="../../assets/cwru/img/favicon-96x96.png?v=2" sizes="96x96">
    <link rel="icon" type="image/png" href="../../assets/cwru/img/favicon-16x16.png?v=2" sizes="16x16">
    <link rel="manifest" href="../../assets/cwru/img/manifest.json?v=2">
    <link rel="mask-icon" href="../../assets/cwru/img/safari-pinned-tab.svg?v=2" color="#0a304e">
    <link rel="shortcut icon" href="../../assets/cwru/img/favicon.ico?v=2">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="CWRU">
    <meta name="format-detection" content="telephone=no" />
    <meta name="application-name" content="CWRU">
    <meta name="msapplication-navbutton-color" content="#0a304e">
    <meta name="msapplication-tooltip" content="Case Western Reserve University">
    <meta name="msapplication-TileImage" content="../assets/cwru/img/mstile-144x144.png">
    <meta name="msapplication-config" content="../assets/cwru/img/browserconfig.xml" />
    <meta name="theme-color" content="#0a304e">
    <!-- END TOUCH CONFIG -->
    <title>CWRU | Landing Page Option 1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/cwru/plugins/black-tie/css/black-tie.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap1470862077.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/plugins/socicon/socicon.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../../assets/global/css/components.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="../../assets/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/layout/css/theme/default.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/cwru/css/styles.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <script src="../../assets/global/plugins/excanvas.min.js"></script>
    <script src="../../assets/cwru/plugins/html5shiv/html5shiv-printshiv.min.js"></script>
    <![endif]-->
  </head>
  <!-- END HEAD -->

  <body class="page-container-bg-solid page-boxed has-sidebar has-breadcrumbs">
    <!-- BEGIN PRINT HEADER -->
    <header class="visible-print-block" aria-hidden="true" aria-label="Print Header" role="presentation">
      <img src="../../assets/cwru/img/logo-print.jpg" alt="logo" class="logo-default" aria-hidden="true"> </header>
    <!-- END PRINT HEADER -->
    <!-- BEGIN SITE HEADER -->
    <header class="page-header" aria-label="Site Header">
      <!-- BEGIN HEADER TOP -->
      <div class="page-header-top">
        <div class="container">
          <!-- BEGIN LOGO -->
          <div class="page-logo">
            <a href="index.html">
              <img src="../../assets/cwru/img/logo-default.png" alt="Case Western Reserve University" class="logo-default visible-sm-block visible-md-block visible-lg-block" title="Case Western Reserve University">
              <img src="../../assets/cwru/img/logo-small.png" alt="Case Western Reserve University" class="logo-default visible-xs-block" title="Case Western Reserve University" aria-hidden="true"> </a>
          </div>
          <!-- END LOGO -->
          <!-- BEGIN TOP NAVIGATION MENU -->
          <div class="top-menu hidden-sm hidden-xs">
            <ul class="pull-right">
              <!-- BEGIN SKIP LINKS DROPDOWN -->
              <li class="dropdown dropdown-user dropdown-light">
                <a href="#skip-to-navigation" class="skip-button element-invisible element-focusable btn blue btn-sm" tabindex="1"> skip to navigation </a>
                <a href="#skip-to-content" class="skip-button element-invisible element-focusable btn blue btn-sm" tabindex="2"> skip to content </a>
              </li>
              <!-- END SKIP LINKS DROPDOWN -->
            </ul>
          </div>
          <!-- END TOP NAVIGATION MENU -->
        </div>
      </div>
      <!-- END HEADER TOP -->
      <!-- BEGIN PAGE HEAD-->
      <div class="page-head">
        <div class="container">
          <div class="col-md-6">
            <!-- BEGIN SITE NAME -->
            <a href="index.html">
              <div class="page-title">
                <h1>School of Something</h1>
              </div>
            </a>
            <!-- END SITE NAME -->
          </div>
          <!-- BEGIN SITE SEARCH -->
          <div class="col-md-6 hidden-xs hidden-sm">
            <div class="inputs pull-right">
              <form class="search-form" action="fluid.html" method="GET">
                <div class="input-group">
                  <label for="headersearch" class="sr-only">Search</label>
                  <input id="headersearch" type="text" class="form-control input-circle" placeholder="Search...">
                  <span class="input-group-btn">
                    <button href="index.html" type="submit" class="btn submit" aria-label="Submit Search">
                      <i class="icon-magnifier" aria-hidden="true"></i><span class="sr-only">Submit Search</span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!-- END SITE SEARCH -->
        </div>
        <div class="container">
          <!-- BEGIN SUBPAGE TITLE -->
          <a href="index.html" class="">
            <div class="page-title dept-title">
              <h2>Department Name</h2>
            </div>
          </a>
          <!-- END SUBPAGE TITLE -->
        </div>
      </div>
      <!-- END PAGE HEAD-->
      <!-- BEGIN RESPONSIVE MENU TOGGLER -->
      <nav class="menu-toggler-nav" aria-label="Mobile Menu Toggle">
        <a href="javascript:;" class="menu-toggler">
          <i class="fa fa-bars" aria-hidden="true"></i>Navigation + Search</a>
      </nav>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <!-- BEGIN HEADER MENU -->
      <div class="page-header-menu">
        <div class="container">
          <!-- BEGIN MENU SEARCH BOX -->
          <form class="menu-search-form hidden-md hidden-lg" action="fluid.html" method="GET">
            <div class="input-group">
              <label for="mobilesearch" class="sr-only">Search</label>
              <input id="mobilesearch" type="text" class="form-control form-control-solid input-circle" placeholder="Search...">
              <span class="input-group-btn">
                <button href="index.html" type="submit" class="btn submit" aria-label="Submit Search">
                  <i class="icon-magnifier" aria-hidden="true"></i><span class="sr-only">Submit Search</span>
                </button>
              </span>
            </div>
          </form>
          <!-- END MENU SEARCH BOX -->
          <!-- BEGIN MOBILE MENU -->
          <nav class="hor-menu hidden-md hidden-lg navbar-mobile" aria-label="Main Menu Mobile">
            <ul class="nav navbar-nav">
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-button menu-dropdown-l">
                <a href="index.html"> Home </a>
              </li>
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-l">
                <a href="index.html"> Link Level 1
                  <span class="arrow" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu pull-left">
                  <li class="dropdown-submenu active">
                    <a href="index.html" class="nav-link nav-toggle"> Fluid Layout
                      <span class="arrow" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="">
                        <a href="index.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_controls_md.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_validation.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_validation_states_md.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_validation_md.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_layouts.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_input_mask.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_editable.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_wizard.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_icheck.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_image_crop.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_fileupload.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="form_dropzone.html" class="nav-link "> Link Level 3 </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu ">
                    <a href="index.html" class="nav-link nav-toggle "> Link Level 2
                      <span class="arrow" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu ">
                        <a href="index.html" class="nav-link nav-toggle"> Link Level 3
                          <span class="arrow" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li class="">
                            <a href="table_static_basic.html" class="nav-link "> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="table_static_responsive.html" class="nav-link "> Link Level 4 </a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu ">
                        <a href="index.html" class="nav-link nav-toggle"> Link Level 3
                          <span class="arrow" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li class="">
                            <a href="table_datatables_managed.html" class="nav-link "> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="table_datatables_buttons.html" class="nav-link "> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="table_datatables_colreorder.html" class="nav-link "> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="table_datatables_rowreorder.html" class="nav-link "> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="table_datatables_scroller.html" class="nav-link "> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="table_datatables_fixedheader.html" class="nav-link "> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="table_datatables_responsive.html" class="nav-link "> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="table_datatables_editable.html" class="nav-link "> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="table_datatables_ajax.html" class="nav-link "> Link Level 4 </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu ">
                    <a href="index.html" class="nav-link nav-toggle "> Link Level 2
                      <span class="arrow" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class=" ">
                        <a href="portlet_boxed.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="portlet_light.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="portlet_solid.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="portlet_ajax.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="portlet_draggable.html" class="nav-link "> Link Level 3 </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu ">
                    <a href="?p=" class="nav-link nav-toggle "> Link Level 2
                      <span class="arrow" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class=" ">
                        <a href="elements_steps.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="elements_lists.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="elements_ribbons.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="elements_overlay.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="elements_cards.html" class="nav-link "> Link Level 3 </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu ">
                    <a href="index.html" class="nav-link nav-toggle "> Link Level 2
                      <span class="arrow" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class=" ">
                        <a href="charts_amcharts.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="charts_flotcharts.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="charts_flowchart.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="charts_google.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="charts_echarts.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class=" ">
                        <a href="charts_morris.html" class="nav-link "> Link Level 3 </a>
                      </li>
                      <li class="dropdown-submenu ">
                        <a href="index.html" class="nav-link nav-toggle"> Link Level 3
                          <span class="arrow" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li class="">
                            <a href="charts_highcharts.html" class="nav-link " target="_blank"> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="charts_highstock.html" class="nav-link " target="_blank"> Link Level 4 </a>
                          </li>
                          <li class="">
                            <a href="charts_highmaps.html" class="nav-link " target="_blank"> Link Level 4 </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-l">
                <a href="index.html"> Another Menu
                  <span class="arrow" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu pull-left">
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> So this would be a really long link and it would need to wrap </a>
                  </li>
                  <li class=" ">
                    <a href="usage.html" class="nav-link  "> Link 3-2 </a>
                  </li>
                </ul>
              </li>
              <li class="menu-dropdown mega-menu-dropdown mega-menu-full menu-dropdown-l">
                <a href="index.html"> Template
                  <span class="arrow" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">
                        <div class="col-md-3">
                          <ul class="mega-menu-submenu">
                            <li>
                              <h3>Structure</h3>
                            </li>
                            <li>
                              <a href="boxed.html"> Boxed Layout </a>
                            </li>
                            <li>
                              <a href="index.html"> Fluid Layout </a>
                            </li>
                            <li>
                              <a href="no-dept-boxed.html"> Boxed No Dept. </a>
                            </li>
                            <li>
                              <a href="no-dept-fluid.html"> Fluid No Dept. </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="mega-menu-submenu">
                            <li>
                              <h3>Footers</h3>
                            </li>
                            <li>
                              <a href="boxed.html.html"> Footer 1 </a>
                            </li>
                            <li>
                              <a href="footer2.html"> Footer 2 </a>
                            </li>
                            <li>
                              <a href="index.html"> Footer 3 </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="mega-menu-submenu">
                            <li>
                              <h3>Layout</h3>
                            </li>
                            <li>
                              <a href="index.html"> Landing Option 1 </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="mega-menu-submenu">
                            <li>
                              <h3>Something</h3>
                            </li>
                            <li>
                              <a href="components_code_editors.html"> Thing 1 </a>
                            </li>
                            <li>
                              <a href="components_code_editors.html"> Thing 2 </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-r menu-dropdown-button menu-dropdown-button-dark">
                <a href="index.html"> QA Demo </a>
              </li>
            </ul>
          </nav>
          <!-- END MOBILE MENU -->
          <!-- BEGIN DESKTOP MENU -->
          <nav class="hor-menu hidden-xs hidden-sm navbar-desktop" aria-label="Main Menu Desktop">
            <ul class="nav navbar-nav">
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-l">
                <a href="index.html"> About
                  <span class="arrow" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu pull-left">
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Dean's Welcome </a>
                  </li>
                  <li class=" ">
                    <a href="usage.html" class="nav-link  "> History of the School </a>
                  </li>
                  <li class=" ">
                    <a href="usage.html" class="nav-link  "> Fundraising </a>
                  </li>
                  <li class=" ">
                    <a href="usage.html" class="nav-link  "> News Archive </a>
                  </li>
                </ul>
              </li>
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-l">
                <a href="index.html"> Alumni + Friends
                  <span class="arrow" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu pull-left">
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> News + Events </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> News Archive </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Support the School </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Staff + Leadership </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Volunteer </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Resources </a>
                  </li>
                </ul>
              </li>
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-l">
                <a href="index.html"> Departments + Programs
                  <span class="arrow" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu pull-left">
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Directory </a>
                  </li>
                  <li class=" ">
                    <a href="usage.html" class="nav-link  "> Advanced Education in General Dentistry (AEGD) </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Biological Sciences </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Bolton-Brush Growth Study Center </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Community Dentistry </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Comprehensive Care </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Craniofacial Imaging Center </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Craniofacial Orthodontics </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Endodontics </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Expanded Function Dental Auxiliary (EFDA) </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Faculty Practice </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Oral and Maxillofacial Surgery (OMFS) </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Oral and Maxillofacial Medicine and Diagnostic Sciences (OMMDS) </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Orthodontics </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Pediatric Dentistry </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Periodontics </a>
                  </li>
                </ul>
              </li>
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-l">
                <a href="index.html"> Patients/Clinics
                  <span class="arrow" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu pull-left">
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> EMERGENCY CARE </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Becoming a Patient </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Campus Map </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Building Map </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Parking Info </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> CWRU Employee Dental Care Plans </a>
                  </li>
                </ul>
              </li>
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-l">
                <a href="index.html"> Prospective Students
                  <span class="arrow" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu pull-left">
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Doctor of Dental Medicine (DMD) </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Expanded Function Dental Auxiliary (EFDA) </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> DMD/Master's in Public Health (MPH) </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Post-Doctoral Programs (Graduate Studies) </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> About Cleveland </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Visit CWRU </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Parking + Driving Directions </a>
                  </li>
                </ul>
              </li>
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-l">
                <a href="index.html"> Research
                  <span class="arrow" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Welcome </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Research in the SoDM </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Student Research </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Guidance </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> News Archive </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Contact Us </a>
                  </li>
                </ul>
              </li>
              <li class="menu-dropdown classic-menu-dropdown menu-dropdown-l" style="display: none;">
                <a href="index.html"> Resources
                  <span class="arrow" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Current Student Resources </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Faculty/Staff Resources </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Faculty Development Resources </a>
                  </li>
                  <li class=" ">
                    <a href="index.html" class="nav-link  "> Sitemap </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- END DESKTOP MENU -->
        </div>
      </div>
      <!-- END HEADER MENU -->
    </header>
    <!-- END SITE HEADER -->
    <main>
      <!-- BEGIN CONTAINER -->
      <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
          <!-- BEGIN CONTENT BODY -->
          <!-- BEGIN PAGE CONTENT BODY -->
          <div class="page-content">
            <div class="container">
              <!-- BEGIN PAGE BREADCRUMBS -->
              <nav aria-label="Page Breadcrumbs">
                <ul class="page-breadcrumb breadcrumb">
                  <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li>
                    <a href="index.html">Departments + Programs</a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li>
                    <a href="index.html">Advanced Education in General Dentistry (AEGD)</a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li>
                    <a href="index.html">Residency Program</a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li> How to Apply </li>
                </ul>
              </nav>
              <!-- END PAGE BREADCRUMBS -->
              <!-- BEGIN PAGE CONTENT INNER -->
              <div class="page-content-inner" id="skip-to-content">
                <div class="row">
                  <div class="col-md-12">
                    <!--[if lte IE 9]>
                        <div class="alert alert-warning not-supported">
                            <h4 class="block">Notice to Internet Explorer Users</h4>
                            <p> The version of Internet Explorer you're using is no longer updated by Microsoft.  If you're stuck on an old version of Windows and you're unable to upgrade Internet Explorer any further, we recommend using a <a href="http://browsehappy.com" target="_blank" class="alert-link">different browser</a>.  If your browser is up to date and you are still seeing this message it is possible you are viewing this site in <a href="http://windows.microsoft.com/en-us/internet-explorer/use-compatibility-view#ie=ie-10" target="_blank" class="alert-link">compatibility view.</a> </p>
                        </div>
                    <![endif]-->
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar-desktop">
                        <nav class="page-sidebar-wrapper container-inner" aria-label="Sidebar Menu">
                          <div class="page-sidebar">
                            <a href="index.html">
                              <h2>Departments + Programs</h2>
                            </a>
                            <ul class="page-sidebar-menu">
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Directory </a>
                              </li>
                              <li class="nav-item open active">
                                <a href="index.html" class="nav-link"> Advanced Education in General Dentistry (AEGD) </a>
                                <ul class="sub-menu">
                                  <li class="nav-item">
                                    <a href="index.html" class="nav-link"> AEGD Clinic </a>
                                  </li>
                                  <li class="nav-item">
                                    <a href="index.html" class="nav-link"> Faculty/Staff </a>
                                  </li>
                                  <li class="nav-item open">
                                    <a href="index.html" class="nav-link"> Residency Program </a>
                                    <ul class="sub-menu">
                                      <li class="nav-item">
                                        <a href="index.html" class="nav-link"> Curriculum</a>
                                      </li>
                                      <li class="nav-item current">
                                        <a href="index.html" class="nav-link"> How to Apply</a>
                                      </li>
                                      <li class="nav-item">
                                        <a href="index.html" class="nav-link"> Application</a>
                                      </li>
                                      <li class="nav-item">
                                        <a href="index.html" class="nav-link"> Current Residents</a>
                                      </li>
                                      <li class="nav-item">
                                        <a href="index.html" class="nav-link"> Alumni</a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="nav-item">
                                    <a href="index.html" class="nav-link"> Calendar </a>
                                  </li>
                                </ul>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Biological Sciences </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Bolton-Brush Growth Study Center </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Community Dentistry </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Comprehensive Care </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Craniofacial Imaging Center </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Craniofacial Orthodontics </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Endodontics </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Expanded Function Dental Auxiliary (EFDA) </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Faculty Practice </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Oral and Maxillofacial Surgery (OMFS) </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Oral and Maxillofacial Medicine and Diagnostic Sciences (OMMDS) </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Orthodontics </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Pediatric Dentistry </a>
                              </li>
                              <li class="nav-item">
                                <a href="index.html" class="nav-link"> Periodontics </a>
                              </li>
                            </ul>
                          </div>
                        </nav>
                      </div>
                      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="height: 1500px;">
                        <div class="container-inner">
                          <img src="../../assets/global/plugins/holder.js/100%x310" alt="" style="width: 100%; height: 310px;"> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END PAGE CONTENT INNER -->
            </div>
          </div>
          <!-- END PAGE CONTENT BODY -->
          <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END CONTAINER -->
    </main>
    <!-- BEGIN FOOTER -->
    <footer>
      <div class="page-prefooter">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-block footer-col-1">
              <div class="container-inner">
                <h2 class="sr-only" tabindex="0">About Case Western Reserve University</h2>
                <a href="index.html">
                  <img src="../../assets/cwru/img/logo-footer-default.png" alt="Case Western Reserve University" class="logo-default visible-sm-block visible-md-block visible-lg-block" title="Case Western Reserve University">
                  <img src="../../assets/cwru/img/logo-footer-small.png" alt="Case Western Reserve University" class="logo-default visible-xs-block" title="Case Western Reserve University" aria-hidden="true"> </a>
                <address> &copy; 2016
                  <a href="http://www.case.edu/">Case Western Reserve University</a>
                  <br> 10900 Euclid Ave.
                  <br> Cleveland, Ohio 44106
                  <br> 216.368.2000 (<a href="http://www.case.edu/legal.html">legal notice</a>) </address>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 footer-block footer-col-2">
              <div class="container-inner">
                <h2 tabindex="0">Jack, Joseph and Morton Mandel School of Applied Social Sciences</h2>
                <address class="dept-address"> Case Western Reserve University
                  <br> 11235 Bellflower Road
                  <br> Cleveland, OH 44106-7164
                  <br>
                  <a href="mailto:email@case.edu">email@case.edu</a>
                  <br>
                  <a href="mailto:email@case.edu">Site Feedback</a>
                </address>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-block footer-col-3">
              <div class="container-inner">
                <h2 tabindex="0">Social Media</h2>
                <div class="socicons">
                  <a href="index.html" target="_blank" class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-blue font-white bg-hover-blue socicon-facebook" aria-title="Facebook"></a>
                  <a href="index.html" target="_blank" class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-blue font-white bg-hover-blue socicon-twitter" aria-title="Twitter"></a>
                  <a href="index.html" target="_blank" class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-blue font-white bg-hover-blue socicon-instagram" aria-title="Instagram"></a>
                  <a href="index.html" target="_blank" class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-blue font-white bg-hover-blue socicon-linkedin" aria-title="LinkedIn"></a>
                  <a href="index.html" target="_blank" class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-blue font-white bg-hover-blue socicon-google" aria-title="Google"></a>
                  <a href="index.html" target="_blank" class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-blue font-white bg-hover-blue socicon-youtube" aria-title="Facebook"></a>
                  <a href="index.html" target="_blank" class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-blue font-white bg-hover-blue socicon-wordpress" aria-title="Twitter"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 footer-block footer-col-4">
              <div class="container-inner">
                <h2 tabindex="0">CWRU Links</h2>
                <ul class="page-breadcrumb breadcrumb">
                  <li>
                    <a href="http://case.edu/admissions/">Apply</a>
                    <i class="li-pipe" aria-hidden="true">|</i>
                  </li>
                  <li>
                    <a href="https://securelb.imodules.com/s/1526/index.aspx?sid=1526&gid=1&pgid=327&cid=914">Give</a>
                    <i class="li-pipe" aria-hidden="true">|</i>
                  </li>
                  <li>
                    <a href="http://case.edu/visit/">Visit</a>
                    <i class="li-pipe" aria-hidden="true">|</i>
                  </li>
                  <li>
                    <a href="https://webapps.case.edu/directory/">Directory</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="scroll-to-top">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
                <i class="fa fa-arrow-up fa-stack-1x" aria-hidden="true"></i>
            </span>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- BEGIN DEV BANNER -->
    <i class="info-banner" aria-hidden="true"></i>
    <!-- END DEV BANNER -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/cwru/plugins/jquery-mobile-touch/jquery.mobile.custom.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js" type="text/javascript"></script>
    <script src="../../assets/cwru/plugins/paypal-accessibility/bootstrap-accessibility.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="../../assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="../../assets/layout/scripts/layout.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
  </body>

</html>