<!-- BEGIN TEXT MODULE /////// -->

    <div class="numbered-steps">
      <div class="row step-row">
        <div class="step-number">1</div>
        <div class="step-content">
          <div class="step-title">This is the title</div>
          <div class="step-subtitle">This is an optional subtitle.</div>
          <div class="step-info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quo officia repellat dicta nulla ex perspiciatis vitae nam, odit. Iusto. <a href="#">Here be a link.</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore fugiat odio, ratione expedita dolores. Quo amet optio minima repudiandae.</p>
          </div>
        </div>
      </div>
      <div class="row step-row">
        <div class="step-number">2</div>
        <div class="step-content">
          <div class="step-title">This is the title</div>
          <div class="step-info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quo officia repellat dicta nulla ex perspiciatis vitae nam, odit. Iusto. <a href="#">Here be a link.</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore fugiat odio, ratione expedita dolores. Quo amet optio minima repudiandae.</p>
          </div>
        </div>
      </div>
      <div class="row step-row">
        <div class="step-number step-number-last">3</div>
        <div class="step-content">
          <div class="step-title"><a href="#">This title is a link</a></div>
          <div class="step-info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quo officia repellat dicta nulla ex perspiciatis vitae nam, odit. Iusto. <a href="#">Here be a link.</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore fugiat odio, ratione expedita dolores. Quo amet optio minima repudiandae.</p>
          </div>
        </div>
      </div>
    </div>
