//File Type Extensions List
//
// Image
// Code

$file-types-optional: (
	jpg:	(content: \f1c5, iconcolor: #444444),
	JPG:	(content: \f1c5, iconcolor: #444444),
	jpeg:	(content: \f1c5, iconcolor: #444444),
	JPEG:	(content: \f1c5, iconcolor: #444444),
	png:	(content: \f1c5, iconcolor: #444444),
	PNG:	(content: \f1c5, iconcolor: #444444),
	svg:	(content: \f1c5, iconcolor: #444444),
	SVG:	(content: \f1c5, iconcolor: #444444),
	bmp:	(content: \f1c5, iconcolor: #444444),
	BMP:	(content: \f1c5, iconcolor: #444444),
	psd:	(content: \f1c5, iconcolor: #444444),
	PSD:	(content: \f1c5, iconcolor: #444444),
	tiff:	(content: \f1c5, iconcolor: #444444),
	TIFF:	(content: \f1c5, iconcolor: #444444),
	tif:	(content: \f1c5, iconcolor: #444444),
	TIF:	(content: \f1c5, iconcolor: #444444),
	gif:	(content: \f1c5, iconcolor: #444444),
	GIF:	(content: \f1c5, iconcolor: #444444),
	ai:	(content: \f1c5, iconcolor: #444444),
	AI:	(content: \f1c5, iconcolor: #444444),
	raw:	(content: \f1c5, iconcolor: #444444),
	RAW:	(content: \f1c5, iconcolor: #444444),
	cdr:	(content: \f1c5, iconcolor: #444444),
	CDR:	(content: \f1c5, iconcolor: #444444),
	swf:	(content: \f1c5, iconcolor: #444444),
	SWF:	(content: \f1c5, iconcolor: #444444),
	eps:	(content: \f1c5, iconcolor: #444444),
	EPS:	(content: \f1c5, iconcolor: #444444),
	odg:	(content: \f1c5, iconcolor: #444444),
	ODG:	(content: \f1c5, iconcolor: #444444),
	fodg:	(content: \f1c5, iconcolor: #444444),
	FODG:	(content: \f1c5, iconcolor: #444444),
	ps:	(content: \f1c5, iconcolor: #444444),
	PS:	(content: \f1c5, iconcolor: #444444),
	prn:	(content: \f1c5, iconcolor: #444444),
	PRN:	(content: \f1c5, iconcolor: #444444),
	pcx:	(content: \f1c5, iconcolor: #444444),
	PCX:	(content: \f1c5, iconcolor: #444444),

	zip:	(content: \f1c9, iconcolor: #444444),
	html:	(content: \f1c9, iconcolor: #444444),
	HTML:	(content: \f1c9, iconcolor: #444444),
	css:	(content: \f1c9, iconcolor: #444444),
	CSS:	(content: \f1c9, iconcolor: #444444),
	js:	(content: \f1c9, iconcolor: #444444),
	JS:	(content: \f1c9, iconcolor: #444444),
	scss:	(content: \f1c9, iconcolor: #444444),
	SCSS:	(content: \f1c9, iconcolor: #444444),
	less:	(content: \f1c9, iconcolor: #444444),
	LESS:	(content: \f1c9, iconcolor: #444444),
	json:	(content: \f1c9, iconcolor: #444444),
	JSON:	(content: \f1c9, iconcolor: #444444)
);
