<div style="clear:both"></div>
</div><!--.row-->
</div><!-- end main content area-->

</div><!--.row-->

</div><!-- .content-sub -->
</div><!-- .row -->
<div class="clearfix"></div>
</div><!-- .container -->


<footer class='<t4 type="navigation" id="143"/>'><!-- navigation object : Footer Links Type -->
<div class="row">
<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="footerLinks">
<div class="column" id="footer-widgets" >
<!-- navigation object : Footer Widgets --><t4 type="navigation" id="150"/>
</div>
<!-- navigation object : Footer Links Template --><t4 type="navigation" id="133"/>
<!-- navigation object : Footer Columns --><t4 type="navigation" id="144"/>
  
</div>


  <t4 type="navigation" id="366"/> <!-- extensible user object text/footerLegal -->
  
</section>
</div>
</footer>

<t4 type="navigation" id="339" /> <!-- Extensible User Object : text/ie8notice -->
   
<t4 type="navigation" id="338" /> <!-- Extensible User Object : text/jqueryReference -->


<!-- navigation object : Extensible User Object - text/scriptcheck --><t4 type="navigation" id="365"/>

<t4 type="navigation" id="367"/> <!-- extensible user object text/searchscript -->


<t4 type="media" id="35187" formatter="javascript/*"/><!-- Head Script js -->
<t4 type="media" id="233837" formatter="javascript/*"/><!-- Body Scripts NO STICKY -->
<t4 type="media" id="233853" formatter="javascript/*"/><!-- Stellar.js -->
<t4 type="media" id="233854" formatter="javascript/*"/><!-- iScroll.js -->
<t4 type="media" id="233865" formatter="javascript/*"/><!-- Stellar.js Page Function -->

<script>
$(document).ready(function(){
    $(".caption").delay(500).fadeIn(4000)
});
</script>

  
<!--[if lt IE 9]>
  <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
  
  
<!-- Analytics Code -->
<t4 type="navigation" id="376"/>

<!-- navigation object : Body Append text/hidden-body current section --><t4 type="navigation" id="140"/>
<!-- navigation object : Left Sidebar main page body pull text/hidden-body subsection --><t4 type="navigation" id="157"/> <!-- end Left Sidebar main page body pull -->
<!-- navigation object : Right Sidebar main page body pull text/hidden-body right sidebar --><t4 type="navigation" id="155"/> <!-- end Right Sidebar main page body pull -->


<!-- navigation object : current section text/javascript-endbody javascript end body --><t4 type="navigation" id="247"/>

<!-- Ken Testing -->
</body></html>