<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<!-- navigation object : Meta Tag Viewport --><t4 type="navigation" id="207"/>
<!-- navigation object : Meta Tag Description --><t4 type="navigation" id="205"/>
<!-- navigation object : Meta Tag Keywords --><t4 type="navigation" id="206"/>

<link rel="shortcut icon" href='<t4 type="media" id="30603" formatter="path/*"/>' />

<!-- navigation object : Browser Page Title --><t4 type="navigation" id="370"/>
  <!-- AD 1 - 1 Col PHP -->

<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700,700italic,200,200italic' rel='stylesheet' type='text/css'/>

  
<t4 type="navigation" id="337" /> <!-- Extensible User Object : text/ie8styles -->  
  
<!-- navigation object : Template Stylesheet File --><t4 type="navigation" id="167"/>
<!-- navigation object : Custom CSS --><t4 type="navigation" id="173"/>
<!-- navigation object : Custom Extensible User Object text/csscheck --><t4 type="navigation" id="361"/>

<t4 type="navigation" id="340" /> <!-- Extensible User Object : text/modernizrShiv -->

<!-- navigation object : Head Content Pull text/hidden-head --><t4 type="navigation" id="136"/><!-- end Head Content Pull -->
<!-- navigation object : Left Sidebar main page head pull text/hidden-head --><t4 type="navigation" id="156"/> <!-- end Left Sidebar child head pull -->
<!-- navigation object : Right Sidebar main page head pull text/hidden-head --><t4 type="navigation" id="154"/> <!-- end Right Sidebar child pull -->

<t4 type="navigation" id="369"/> <!-- reads in text/menustyles from current section -->
  
  <!-- navigation object : Site Output mobile CSS --><t4 type="navigation" id="372"/>
  
<style>
<t4 type="style"  />
</style>

</head>

<body class="one-column" data-href5='<t4 type="navigation" id="137"/>' data-href4='<t4 type="navigation" id="151"/>' data-href3='<t4 type="navigation" id="152"/>' data-href2='<t4 type="navigation" id="153"/>'>

  <!-- GLOBAL HEADER
//////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////// -->

<!--#include virtual="/ssi/banner/index.html" -->

<header>

<section>

<!-- navigation object : Header Include --><t4 type="navigation" id="172"/>
<!-- navigation object : Co Branded Pull --><t4 type="navigation" id="208"/>
        <div class="search">
        
      <t4 type="navigation" id="368"/> <!-- search form from extensible user object -->
          
          
    <div class="site-title">
        <!-- navigation object : Home Link template --><a href='<t4 type="navigation" id="128"/>'><!-- navigation object : Site Title template --><t4 type="navigation" id="121"/></a>
    </div> <!-- .site-title -->

   <div class="clearfix"></div>
</section>
 
</header><!-- End global header -->




<!-- END GLOBAL HEADER
//////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////// -->


<div class="container">

<div class="row">

<!-- NAVIGATION
//////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////// -->


<nav class="desktop-nav col-sm-12 col-md-12 col-lg-12 contained <t4 type="navigation" id="244" />">
    <ul class="dropmenu">

      <!-- navigation object : Desktop Navigation Template --><t4 type="navigation" id="127"/>
      
    </ul>
</nav>












<nav class="mobile-nav col-xs-12 contained">
    <a href="#" style="margin-left:0;" class="mobile-nav-toggle_smartphone">
        <span>
            <img src='<t4 type="media" id="29530" formatter="path/*"/>' alt="" />
        </span>Navigation + Search</a>



    <ul class="dropmenu">
         <!-- navigation object : Extensible User Object - text/mobilesearch --><t4 type="navigation" id="364"/>   
      
        <!-- navigation object : Navigation Template --><t4 type="navigation" id="127"/>
    </ul>
</nav>



<!-- END NAVIGATION
//////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////// -->

<div class="content-sub col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="row">

<div class='<t4 type="navigation" id="124"/>'><!-- navigation object : Page name hidden -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<section class="page-name">
<span><!-- navigation object : Page Name template --><t4 type="navigation" id="118"/></span>
</section>
</div>
</div>
  
<div class='<t4 type="navigation" id="125"/>'><!-- navigation object : Breadcrumbs hidden template -->
  <div class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- navigation object : Home Link template --><a href='<t4 type="navigation" id="128"/>'><img src='<t4 type="media" id="29528" formatter="path/*"/>' alt="Go to Home" /></a><!-- navigation object : Breadcrumbs Template --><t4 type="navigation" id="117"/>
  </div><!-- .breadcrumb -->
</div>
  
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-col">
    
    <div class="row">